
/* ADD YOUR STYLES HERE */
body{
    background-color: lightskyblue;
    fill: #123456;

}

h1{
    text-align: center;
}

text{
    font-size: 10px;
}

#header {
    /*background-color: slateblue;*/
    text-align:center;
}



html,
body,
#fullpage,
.section,
.slide,
.fp-tableCell
{
    height: 100%
}



.section-title {

    width: 100%;
    position: absolute;
    top: 10vh;
}