
/* ADD YOUR STYLES HERE */
body{
    background-color: white;
    fill: #123456;

}

h1{
    text-align: center;
}
#prevReduc4 .reducPct {
    font-weight: bold;
    font-size: 15px;
}
#prevReduc5 .reducPct {
    font-weight: bold;
    font-size: 15px;
}
#prevReduc6 .reducPct {
    font-weight: bold;
    font-size: 15px;
}

.age-breakdown-title {
    font-weight: bold;
    font-size: 16px;
}

.bar-instruction {
    font-size: 13px;
    font-weight: lighter;
}

.bar-y-label {
    font-size: 13px;
}

.x-axis text {
    font-size: 13px;
}

text{
    font-size: 10px;
}

.section {
    margin: 20px 20px 0 20px;
}

.prevReduc {
    margin-left: 75px;
}

.reducPct {
    font-size: 14px;
    text-anchor: middle;
}

.groupPct {
    font-size: 14px;
    text-anchor: middle;
}

.prevReducTitle {
    font-style: italic;
    margin-top: 5px;
    font-size: 17px;
}

.priv-count-text {
    text-align: center;
}

.form-control {
    margin-left: 10px;
}

.slide-text {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 50px;
}

.slide-text-2 {
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.intro {
    margin-top: 0;
}

#header {
    /*background-color: slateblue;*/
    text-align:center;
}



html,
body,
#fullpage,
.section,
.slide,
.fp-tableCell
{
    height: 100%
}



.section-title {

    width: 100%;
    position: absolute;
    top: 10vh;
}